<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./styles/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="./styles/creation.css">
</head>
<body>
  <div class="headDiv">
    <div class="user">
      <img src="<%=locals.image%>" class="userImg">
    <p class="userName"><%=locals.user%></p>
    </div>
    <h1 class="appTitle"><%=locals.user%> Blog</h1>
    <div class="endHead">
      <i class="bi bi-house-door-fill" onclick="window.location.href='/'"></i>
      <i class="bi bi-telephone-fill"></i>
    </div>
  </div>

  


    
